@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


@font-face {
  font-family: "KievitPro-Light";
  src: local("KievitPro-Light"),
    local("KievitPro-Light"),
    url("./fonts/KievitPro-Light.woff") format("woff"), ;
}

@font-face {
  font-family: "KievitPro-Regular";
  src: local("KievitPro-Regular"),
    local("KievitPro-Regular"),
    url("./fonts/KievitPro-Regular.woff") format("woff"), ;
  font-weight: 400;
}

@font-face {
  font-family: "KievitPro-Medium";
  src: local("KievitPro-Medium"),
    local("KievitPro-Medium"),
    url("./fonts/KievitPro-Medium.woff") format("woff"), ;
  font-weight: 500;
}

@font-face {
  font-family: "KievitPro-Bold";
  src: local("KievitPro-Bold"),
    local("KievitPro-Bold"),
    url("./fonts/KievitPro-Bold.woff") format("woff"), ;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "KievitPro-Regular";
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  background-color: #f8f7f2;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}